* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Below prevents button from showing copy popup on mobile when long-pressed */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: rgb(91, 63, 245);
  color: #fff;
  padding: 20px 25px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
}
